<h2>All Threads</h2>

<div>


  <div>
    <% @topics.each do |topic| %>
    <%= link_to("#{topic.title}", topic_path(topic.id)) %>
  </div>
  <div>
    <%= topic.posts.count %> posts
  </div>
    <% end %>

  <%= link_to_if (!!current_user), "Create Topic", new_topic_path do %>
  <%= link_to "Join the conversation", @signup_path %>
  <% end %>
</div>
