<h2>All Threads</h2>

<div class="">

<ul>
  <% @topics.each do |topic| %>
  <li><%= link_to("#{topic.title}", topic_path(topic.id)) %></li>

  <% end %>
</ul>

</div>


<%= link_to_if (!!current_user), "Create Topic", new_topic_path do %>
<%= link_to "Join the conversation", @signup_path %>
<% end %>
