<h2>All Threads</h2>

<div class="row">

  <% @topics.each do |topic| %>
  <div class="col-sm-8" >
    <h5 ><%= link_to("#{topic.title}", topic_path(topic.id), class: "text-dark") %></h5>
    
  </div>

  <div class="col-sm-4">
    <h5 ><%= topic.posts.count %> posts</h5>
  </div>
    <% end %>
</div>
  <%= link_to_if (!!current_user), "Create Topic", new_topic_path do %>
  <%= link_to "Join the conversation", @signup_path %>
  <% end %>
<!--add color on post counts-->
