<h1>Welcome to the Vanilla forum!</h1>

<div class="">


#scope on this topics div for five latest
<ul>
  <% @topics.each do |topic| %>
  <li><%= link_to("#{topic.title}", topic_path(topic.id)) %></li>

  <% end %>
</ul>

</div>
