<h1>Welcome to the Vanilla forum!</h1>

<%=  link_to "Sign up", signup_path %>

OR

<%= link_to "Log in", login_path %>

OR

<%= link_to "Sign in Through Facebook", '/auth/facebook' %>

<div class="">


#scope on this topics div for five latest
<ul>
  <% @topics.each do |topic| %>
  <li><%= link_to("#{topic.title}", topic_path(topic.id)) %></li>

  <% end %>
</ul>

</div>
