<div class="row">
  <div class="col">
  <h2>User Profile</h2>
    <hr>
  </div><!-- end col -->
</div><!-- end row -->



<div class ="row">
  <div class="col-sm-9">
    <h5>Username: <span class="font-weight-light"><%= @user.username %></span></h5>
  </div><!-- end col -->



<!-- right sidebar-->
  <div class="col-sm-3 text-right">
    <!-- create post link-->
    <div class="row">
      <div class="col">
        <% if @user.posts.exists? %>
        <%= link_to "View #{@user.username} posts", user_posts_path(@user), class: "btn btn-outline-primary btn-block btn-lg btn-circle" %>
        <% end %>
      </div>
    </div>
  </div> <!-- end col-sm-3 -->
</div><!-- end row -->
