<h2><%= @user.username%>'s posts</h2>
<div class="">
  <% @user.posts.order_by_created.each do |post| %>
</div>

<div class="">
  <%  @post = Post.find_by_id(post)%>
  <%= link_to("#{@post.body}", topic_path(@post.topic.id))%><br>
  <%= post.created_at %><br>
  <%= post.upvotes.count %>

</div>
  <% end %>
